################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PdfSearch
/bin/Debug/net9.0
/bin/Release/net9.0
/obj
